.wide-div{
    margin: auto;
    text-align: center;
    padding-top: 1%;
}



.graduate-profile-card{
    text-align: center;
    margin: auto;
    
}

.outer-graduate {
    text-align: center;
    margin: auto;
}

h3{
padding-top: 25px;
}

.grad-header{
    padding: 30px 20px;
    background-color: rgb(240, 240, 240);
    text-align: center;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: rgba(206, 206, 206, 0.5) 5px 5px 5px 5px;
    
}

/* .all-grad-card{

} */