.wide-div{
    margin: auto;
    text-align: center;
    padding-top: 1%;
}



.graduate-profile-card{
    text-align: center;
    margin: auto;
}

.outer-graduate {
    text-align: center;
    margin: auto;
}

h3{
padding-top: 25px;
}