nav{
    background: rgb(6, 20, 80);   
}

.navbar-light .navbar-nav .nav-link {
    /* color: rgba(0,0,0,.55); */
    color: white;
}


#basic-nav-dropdown:hover{
    color: white;
}


.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    /* color: #0d6efd; */
    color: white;
    text-decoration: none;

}

.nav-link  {
    color: white;
}

div.container {
    margin: 0px 0px;
}


a:link {text-decoration: none;
color: rgb(6, 20, 80);}
a:visited {text-decoration: none;
    color: rgb(6, 20, 80);}
a:hover {text-decoration: none;
    color: grey}
a:active {text-decoration: none;
    color: rgb(6, 20, 80);}
