.modal .modal-dialog {
	max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
   
}
.modal .modal-content {
	border-radius: 3px;
	font-size: 14px;
}
.modal .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 3px 3px;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 2px;
	min-width: 100px;
}	
.modal form label {
	font-weight: normal;
}	

Form{
    display: block;
}


.image-name{
display: flex;
align-items: center;
padding-bottom: 30px;

}

.popup-info-sections{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 20px;
	padding-top: 20px;
	
}

.industry-modal .modal-content{
	width: 700px;
	margin-left: -150px;
}

.student-name{
margin-left: 20px;
}

.popup-personal-section, .popup-qualifications, .popup-training{
	background-color: rgb(231, 231, 231);
	padding: 10px;
	border-radius: 5px;
	
	
}


.student-summary{
font-style: italic;
text-align: center;
padding-bottom: 20px;
font-size: 16px;
}

.popup-personal-section p, .popup-qualifications p, .popup-training p{
font-size: 13.5px;
padding-top: 20px;

}

.popup-titles{
	font-weight: 600;
}