.wide-div{
    width: 95%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.pathway-section{

    text-align: center;
    margin: auto;

}

.gradCard{
    display: inline-block;
}

.title{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

h3{
padding-top: 25px;
}