.app-container, .app-container2, .app-container3, .app-container4, .app-container5{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
  font-family: sans-serif;
}

th {
  background-color: rgb(6, 20, 80);
  color: #ffffff;
  font-size: 18px;
  font-family: sans-serif;
}

td {
  background-color: rgb(231, 231, 231);
  font-size: 14px;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

.delete-btn{

float: right;
}