body{
    font-family: sans-serif;
    background-image: url("./background.jpg");
   
}

.pc-profile-card{
    /* height: 230px; */
    /* width: 500px; */
    margin-bottom: 30px;
    /* margin-left: 25%; */
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    /* position: relative; */
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    box-shadow: rgba(206, 206, 206, 0.5) 5px 5px 5px 5px;
}

.pc-profile-image img {
    border-radius: 50%;
    margin-bottom: 20px; 
    margin-top: 5px;
    width: 150px; 
    height: 150px; 
}

.pc-outer-profile-guide {
    display: flex;
    align-items: center;
}

h2{
    margin-left: -10px;
}

.pc-profile-name h4{
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 50px;
    margin-left: 40px;
    margin-bottom: 45px;
   
}


.pc-degree-github{
    position: relative; 
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-top: -90px;
}

.pc-degree-github h5{
    font-size: 15px;
    margin-top: 5px;
}

.pc-github-icon img {
    margin-left: 10px;
}

.pc-view-profile-button {
    /* padding-right: 10%; */
    padding-bottom: 10px;
    font-size: 40px;
   text-align: center;
    

} 


/* @media screen and (max-width:1318px ) {

    .pc-profile-card{
        display: block;
    }
    
} */

