body{
    font-family: sans-serif;
    background-image: url("./background.jpg");
   
}

.headline{
    padding-top: 1%;
    padding-left: 2%;
}

.description{
    padding-left: 4%;
    padding-right: 4%;
}


.data-science-section, .software-engineering-section{
    border: 1px solid rgb(6, 20, 80);
    margin: 40px 20px;
}

.ep-personal-info-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ep-personal-info{
    display: flex;
    align-items: center;
}

select{
    margin-top: 30px;
}

.pi-dropdown{
    font-size: 15px;
}