body{
    font-family: sans-serif;
    background-image: url("./background.jpg");
   
}

.headline{
    padding-top: 1%;
    padding-left: 2%;
}

.description{
    padding-left: 4%;
    padding-right: 4%;
}


.data-science-section, .software-engineering-section{
    /* border: 1px solid rgb(6, 20, 80); */
    margin: 40px 20px;
    box-shadow: rgba(206, 206, 206, 0.5) 5px 5px 5px 5px;
    background-color: rgb(255, 253, 250);
    border-radius: 10px;
}

.ep-personal-info-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ep-personal-info{
    display: flex;
    align-items: center;
}

select{
    margin-top: 30px;
}

.pi-dropdown{
    font-size: 15px;
}

#basic-nav-dropdown:hover{
    display: none;
}
h2{
    font-size: 40px;
    padding-bottom: 20px;
}