body{
    font-family: sans-serif;
    background-image: url("./background.jpg");
   
}

/* .your-profile-section, .training-section{
    border: 1px solid rgb(6, 20, 80);
    border-radius: 10px;
    margin-top: 40px;
    padding-top: 10px;
    margin: 40px 20px;
} */

.your-profile-section, .training-section{
    border-radius: 10px;
    margin-top: 40px;
    padding-top: 10px;
    margin: 40px 20px;
    box-shadow: rgba(206, 206, 206, 0.5) 5px 5px 5px 5px;
    background-color: rgb(255, 253, 250);
}

.profile-edit{
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: black;
    padding-top: 20px;
}



.training{
    padding-top: 3px;
}

.edit-btn{
    border: none;
    background: rgb(231, 231, 231);
    color: rgb(6, 20, 80);
    border-radius: 5px;
    margin-left: 15px;
    

}

.summary-section{
display: flex;
align-items: center;
padding: 30px 30px 30px 20px;

}

.your-info, .your-training-info{
    padding-right: 30px;
}

.personal-info, .training-info, .ps-list, .ts-list{
font-size: 14px;
}

.personal-story-summary{
    font-size: 18px;
}

.personal-story{
padding-left: 30px;
}

.training-summary{
   margin-left: 70px;
   padding-left: 120px;
}

.box2{
    /* border: 1px solid rgb(6, 20, 80); */
    padding: 10px 100px 5px 10px ;
    background-color: rgb(231, 231, 231);
    border-radius: 3px;
   
}

.default-profile-picture{
    border-radius: 50%;
    width: 150px; 
    height: 150px; 
    
}

.profile{
    margin-left: 20px;
    padding: 0;
}

.profile-edit-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.edit-btn-container {
    display: block;
    justify-content: space-around;
    
    
}