body{
    font-family: sans-serif;
   
}

.your-profile-section, .training-section{
    border: 1px solid rgb(6, 20, 80);
    margin-top: 40px;
    padding-top: 10px;
    margin: 40px 20px;
}

.profile-edit{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.profile{
    color: black;
}

.edit-btn{
    border: none;
    background: none;
    padding-left: 10px;
    color: rgb(6, 20, 80);

}

.summary-section{
display: flex;
align-items: center;
padding: 30px 30px 30px 20px;

}

.your-info, .your-training-info{
    padding-right: 30px;
}

.personal-info, .training-info, .ps-list, .ts-list{
font-size: 12px;
}

.personal-story-summary{
    font-size: 15px;
}
.box2{
    border: 1px solid rgb(6, 20, 80);
    padding: 10px 200px 5px 5px ;
}


.news{
    padding-left: 50px;
}
